@import url('https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400;500;600;700;800;900&display=swap') ;

* {
  border: 0;
  font-family: Maven Pro , sans-serif;
  margin: 0;
  padding: 0;
}

body {
  align-items: center;
  background: no-repeat url('./images/background.png');
  background-attachment: fixed;
  background-size: cover;
  color: white;
  display: flex;
  flex-flow: column nowrap;
}
